.body{
	font-family: sans-serif;
}
.container{
	width: 100%;
	display:flex;
  	height: 100%;
    justify-content: center;
    align-items: center;
}

.profilepic {
	border: solid 3px #3a3636;
    padding: 5px;
    height: 250px; width: 250px;
}

.detailsinfo {
      position: relative;
    background: #dcbaba;
    box-shadow: -12px 8px 25px 0 rgba(19, 81, 132, 0.2);
    border-radius: .375rem;
    transition: all .3s ease;
    padding: 30px 10px;
    text-align: center;
}
.footer {
    background-color: #194369;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
}
html{
    min-height:100%;/* make sure it is at least as tall as the viewport */
    position:relative;
}
body{
    height:100%; /* force the BODY element to match the height of the HTML element */
}
.row{
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    overflow:hidden;
    z-index:-1; /* Remove this line if it's not going to be a background! */
}
